#waiting{	
	position:fixed;
	top:40%;
	left:50%;
	margin:0 0 0 -100px;
	z-index=99999;
}

span.grid-sort{
	margin-left:5px;
}

tr.for_select{
	cursor:pointer;
}
th.sortable{
	cursor:pointer;
}
th[disabled="disabled"]{
	cursor:not-allowed;
}

