<div id="Product">
	<h1 class="page-header">Карточка продкуции</h1>
	<div id="Product:id"/>
	<div id="Product:name"/>
	<div id="Product:name_full"/>
	<div id="Product:price"/>
	<div id="Product:for_sale"/>
	<div id="Product:make_order"/>
	<div id="Product:min_stock_quant"/>
	
	<div class="panel panel-default">
		<div class="panel-header">Спецификация</div>
		<div class="panel panel-body">
			<div id="Product:specification-grid"/>
		</div>
	</div>
	
	<div id="Product:cmdOk"/>
	<div id="Product:cmdSave"/>
	<div id="Product:cmdCancel"/>
</div>	
